@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3 text-Secondary fw-bold mb-4">
        🎬 Bienvenido al mundo de las peliculas  🎬 
    </h1>

    <a class="btn btn-lg btn-outline-primary px-4 py-2 mb-4 fw-semibold" asp-page="/Movies/Index">
        Visitar las películas 👉🏼
    </a>

    <div class="d-flex justify-content-center">
        <img src="~/img/imagen.jpg" class="img-fluid rounded shadow-lg" style="max-width: 900px;" />
    </div>
</div>
